@charset "uft-8";
@import url(./common.css);

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;
}

/* 메인 좌측 */
#main_visual {
  width: 100%;
  height: 760px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  margin-top: 40px;
}

.box_left {
  background-color: #efefef;
  width: 70%;
  height: 100%;
  border-radius: 0 30px 30px 0;
  height: 760px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.point {
  width: 146px;
  height: 40px;
  background-color: #fce53d;
  font-size: 22px;
  border-radius: 30px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 40px;
}

.visual_title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 40px;
}
.visual_title span {
  position: relative;
}

.main_write {
  font-size: 24px;
  line-height: 30px;
}

/*  우측 메인 */
.box_right {
  width: 20%;
  height: 100%;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 1px 7px rgba(97, 97, 97, 0.2);
  box-sizing: border-box;
  padding: 80px 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: relative;
}
.box_top {
  font-size: 26px;
  text-align: center;
  line-height: 34px;
}

.box_top::before {
  content: "";
  width: 180px;
  height: 30px;
  background-color: #fce53d;
  display: block;
  position: absolute;
  top: 118px;
  left: 61px;
  z-index: -1;
}

/* 우측 버튼 */
.btn_text_wrap {
  width: auto;
  height: auto;
}
.btn1,
.btn2 {
  width: 270px;
  height: 56px;
  background-color: #efefef;
  border-radius: 30px;
  line-height: 56px;
  margin-bottom: 20px;
  cursor: pointer;
}
.btn1:hover,
.btn2:hover {
  background-color: #227aff;
}

.btn1:hover a,
.btn2:hover a {
  color: #fff;
}

/* 참여현황 */
/* 좌측 섹션 */
.participation {
  width: 100%;
  height: fit-content;
}
.participation > .con {
  width: 1400px;
  height: fit-content;
  display: flex;
  box-sizing: border-box;
  padding: 230px 0;
  justify-content: space-between;
}
.num {
  width: 660px;
  height: 660px;
  border-radius: 30px;
  background-image: url(../img/index/service_pic.png);
  text-align: center;
}
.num_title {
  width: 146px;
  height: 50px;
  font-size: 22px;
  background-color: #fce53d;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
  margin-top: 50px;
}
.num_personnel {
  font-size: 90px;
  font-weight: 800;
  color: #fce53d;
  margin-bottom: 20px;
  padding-top: 380px;
}
.num_personnel span {
  font-size: 50px;
  font-weight: 800;
  color: #fce53d;
}
.num_description {
  font-size: 20px;
  color: #fce53d;
}

/* 우측섹션 */
.main_hope_review_wrap {
  width: fit-content;
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_hope {
  width: 660px;
  height: 300px;
  border-radius: 30px;
  background-color: #f7f7f7;
  overflow: hidden;
  box-sizing: border-box;
  padding: 30px;
  position: relative;
  text-align: center;
}
.main_hope .star {
  position: absolute;
  left: 31%;
  top: 30px;
}
.main_hope .hope {
  width: 170px;
  height: 50px;
  font-size: 22px;
  border: 2px solid #fce53d;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  margin: 20px auto;
  background-color: #fff;
}

.main_hope_personnel {
  font-size: 90px;
  font-weight: 800;
  margin-bottom: 24px;
}
.main_hope_personnel span {
  font-size: 50px;
  font-weight: 800;
}

/* 노란 배경 섹션 */

#yellow_wrap {
  width: 100%;
  height: 1050px;
  background-color: #fce53d;
  border-radius: 30px 30px 0 0;
  margin-bottom: 250px;
}

/* 제목 */
.yellow_text {
  width: 100%;
  height: auto;
  padding-top: 70px;
}

.easy {
  font-size: 46px;
  font-weight: 800;
  margin-top: 70px;
  margin-bottom: 40px;
  line-height: 58px;
}

.way {
  font-size: 26px;
  margin-bottom: 50px;
}

/* 이미지 */
.slide {
  width: 100%;
  height: 567px;
}
.slide .pic1,
.slide .pic3,
.slide .pic4 {
  width: 457px;
  height: 457px;
  border-radius: 30px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}
.slide .pic2 {
  width: 548px;
  height: 548px;
  border-radius: 30px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}
.slide .pic1 > .slide_text,
.slide .pic3 > .slide_text,
.slide .pic4 > .slide_text {
  visibility: hidden;
}
.slide img {
  position: absolute;
  top: 0;
}
.slide .slide_text {
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: 0;
  text-align: center;
  box-sizing: border-box;
  padding: 50px 0;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.slide .slick-track {
  display: flex;
  align-items: flex-end;
  column-gap: 40px;
}

/* 함께 봉사 텍스트 */
.together_title {
  color: #fce53d;
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 800;
}
.together {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
}

/* 양옆 화살표 */
.arrow_wrap {
  display: flex;
  justify-content: end;
  gap: 50px;
  margin-bottom: 20px;
}
.prev {
  cursor: pointer;
}
.next {
  cursor: pointer;
}

/* 배너 */
.introduction_wrap {
  width: 100%;
  height: 500px;
  background-color: #f3f3f3;
}

.introduction_wrap > .con {
  width: 1600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 좌측 */

.introduction {
  width: 50%;
  height: auto;
}

.introduction > img {
  margin-bottom: 20px;
}

.why {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 40px;
}

.w_text {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 40px;
}

.introduction_btn {
  width: 170px;
  height: 50px;
  background-color: #227aff;
  border-radius: 50px;
  text-align: center;
}
.introduction_btn:hover {
  background-color: #e2e2e2;
}
.introduction_btn:hover a {
  color: #181818;
}

.introduction_btn > a {
  color: #fff;
  line-height: 50px;
}

/* 우측 */
.character {
  width: fit-content;
  height: 494px;
  align-self: flex-end;
}

/* 지도 - 섹션5 */
.index_map_wrap {
  width: 100%;
  height: auto;
  margin-top: 250px;
  margin-bottom: 200px;
}
.con1 {
  display: flex;
  justify-content: space-between;
}

/* 좌측 지도 */
.index_map_left {
  width: 50%;
  height: fit-content;
}

/* 우측 텍스트 */
.index_map_right {
  width: 50%;
  position: relative;
}

.index_map_title {
  text-align: right;
  font-size: 50px;
  font-weight: 800;
  line-height: 58px;
  margin-bottom: 40px;
}
.index_map_text {
  text-align: right;
}

.index_map_btn_wrap {
  margin-right: 0px;
  width: 170px;
  height: 50px;
  background-color: #227aff;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  right: 0;
  bottom: 0;
}
.index_map_btn_wrap:hover {
  background-color: #e2e2e2;
}

.index_map_btn_wrap a {
  color: #fff;
}
.index_map_btn_wrap:hover a {
  color: #181818;
}
